# Folders
__pycache__/
.vscode/
.DS_Store

build/
dist/

develop-eggs/
eggs/
_ext/

_res/

*env*/

data/dbg

# Weights
*.pth
*.weights

# Lib extensions
*.so
*.o
*.exp
*.lib
*.pyd
*.pyc
*.idea

# Videos
*.mp4
*.avi

# Misc
*.egg-info
*.zip
